body {
  background-color: #3a7dd4;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.task-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.tasks-column {
  box-sizing: border-box;
  width: 33%;
  padding: 10px;
  margin: 0 4px;
  border-radius: 3px;
  background-color: #ebecf0;
}

p {
  box-sizing: border-box;
  padding: 8px;
  margin: 0;
 
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right bottom;
  font-weight: bold;
  text-transform: uppercase;
}

.tasks {
  min-height: 20px;
}

.add-task {
  padding: 10px;
  color: #699df7;
  cursor: pointer;
}

.task-item {
  position: relative;
  padding: 10px;
  border: 1px outset #ebecf0;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);

  }



.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.task-item-active {
  background-color: #ffffff;
}

.delete-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.delete-button-active {
  display: inline-block;
}

.task-form {
  display: none;
}

.task-form-active {
  display: block;
}

.task-input {
  box-sizing: border-box;
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;
  min-height: 80px;
  padding: 8px;
  margin-bottom: 6px;
  border: 1px outset #ebecf0;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  color: #5e6c84;
}

.add-button {
  width: 100px;
  height: 35px;
  padding: 8px;
  margin: 0;
  border: none;
  border-radius: 3px;
  background-color: #5aac44;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.cancel-button {
  width: 20px;
  height: 20px;
  padding: 8px;
  margin: 0 8px;
  border: none;
  background-color: transparent;

  background-size: cover;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.button-box {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right bottom;
}